/* This file is for your main application css. */
body {
    font-family: monospace;
    margin: 0;
}
main {
  width: 1020px;
  margin: auto;
}
.repo__description {
    color: #000000bf;
}

.sections__list-preview{
    list-style: none;
    padding: 0 0 0 16px;
}

.repo__info {
    color: #808080b3;
}

.panel__examples {
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.panel__examples-path {
  display: inline-block;
}
.repo {
  margin-bottom: 4px;
}