
<ul class="panel__examples">
  <li class="panel__examples-path"><a href="/">All</a></li>
  <li class="panel__examples-path"><a href="?min_stars=10">> 10&#11088;</a></li>
  <li class="panel__examples-path"><a href="?min_stars=50">> 50&#11088;</a></li>
  <li class="panel__examples-path"><a href="?min_stars=100">> 100&#11088;</a></li>
  <li class="panel__examples-path"><a href="?min_stars=500">> 500&#11088;</a></li>
  <li class="panel__examples-path"><a href="?min_stars=1000">> 1000&#11088;</a></li>
</ul>

<h1>Content</h1>

<ul class="sections__list-preview">
  <%= for section <- @repos_list do %>
  <li><a class="section__anchor" href="#<%= section.code %>"><%= section.title %></a></li>
  <% end %>
</ul>
<%= for section <- @repos_list do %>
  <a name="<%= section.code %>">
  <h2><%= section.title %></h2>
  
  <ul class="section__repos-list">
    <%= for element <- section.elements do %>
      <li class="repo">
        <a class="repo__href" target="_blank" href="<%= element.path %>"><%= element.title %></a> :: <span class="repo__description"><%= element.description %></span>
        <div class="repo__info">
          <%= if element.stars do %>
            <span class="repo__info-stars">&#11088;<%= element.stars %></span>
          <% end %>
          <%= if element.last_commit_date do %>
            <%
              diff = DateTime.diff(DateTime.utc_now, element.last_commit_date)
              string = cond do
                diff >= 60 * 60 * 24 -> Kernel.inspect(trunc(diff / 60 / 60 / 24))  <> " days ago"
                diff <  60 * 60 * 24 -> Kernel.inspect(trunc(diff / 60 / 60))       <> " hours ago"
              end
            %>
            <span class="repo__info-commit_date">Last commit: <%=string%></span>
          <% end %>
          <%= if element.error_code do %>
            <%
              error = case element.error_code do
                404   -> "Resourse url is not valid: not found(404)"
                true  -> "Undefined error #{element.error_code}"
              end
            %>
            <span class="repo__info-error_message">Has error: <%=error%></span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
